**/node_modules
**/.DS_Store
**/.env
result
ssl
*.log

# Had to add this to fix rust_analyzer in vscode
Cargo.toml
target
Cargo.lock
target
Cargo.toml
androidapp/Crisislab/app/src/androidTest/
androidapp/Crisislab/app/src/test/
